.routingContainer {
  .sree-menu-container {
    display: flex;
    .sree-logo {
      height: 84px;
      position: relative;
      top: 45px;
    }
  }
  .sree-landing-page {
    width: 100%;
    overflow: hidden;
    margin: auto;
    .sree-border-image1 {
      position: absolute;
      left: -303px;
    }
    .sree-checkup-button {
      width: 176px;
      height: 48px;
      background-color: white;
      border-radius: 8px;
      font-size: 18px;
      margin-top: 13px;
      position: absolute;
      left: 630%;
      cursor: pointer;
    }
    .intro-wrapper {
      background-image: url("../../assets/info-background.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-size: auto;
      background-position-x: -85px;
      .sree-info-container {
        display: flex;
        max-width: 95%;
        margin: auto;
        justify-content: space-between;
        margin-top: 80px;
        min-height: 750px;
        .sree-info-image {
          width: 474px;
          height: 702px;
          margin-top: -18px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .routingContainer {
    .sree-landing-page {
      max-width: 95%;
    }
  }
}

@media only screen and (max-width: 540px) {
  .routingContainer {
    .sree-landing-page {
      .intro-wrapper {
        .sree-info-container {
          flex-direction: column;
          .sree-info-image {
            margin-left: -20px;
            margin-top: -85px;
          }
        }
      }
    }
  }
}
