.infoContainer {
  width: 550px;
  margin-top: 135px;
  position: relative;
  z-index: 1;
  .infoLine {
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    padding-bottom: 10px;
    span {
      color: #f3bb3e;
    }
  }
  .infoButtonContainer {
    display: flex;
    margin-top: 30px;
    gap: 40px;
    .infoServicesButton {
      background: #f3bb3e;
      border-radius: 2px;
      width: 221px;
      height: 56px;
      font-weight: 700;
      font-size: 16px;
      color: black;
      cursor: pointer;
    }
    .infoContactButton {
      background: none;
      color: #f3bb3e;
      font-weight: 700;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
  }
}
