.infoContainer {
  width: 585px;
  margin-top: 135px;
  position: relative;
  z-index: 1;
  .infoLine {
    font-weight: 700;
    font-size: 54px;
    line-height: 150%;
    padding-bottom: 10px;
    font-family: "Lora", serif;
    span {
      color: #f3bb3e;
    }
  }
  .infoContent {
    font-size: 18px;
  }
  .infoButtonContainer {
    display: flex;
    margin-top: 30px;
    gap: 40px;
    .infoServicesButton {
      font-weight: 600;
    }
    .infoContactButton {
      background: none;
      color: #f3bb3e;
      border: none;
    }
  }
}

@media only screen and (max-width: 540px) {
  .infoContainer {
    width: unset;
    margin-top: 75px;
    .infoLine {
      font-size: 48px;
    }
    .infoContent {
      font-size: 16px;
    }
    .infoButtonContainer {
      flex-direction: column;
    }
  }
}
