.know-more-container {
  .whatsapp-section {
    padding-top: 70px;
    min-height: 733px;
    justify-content: center;
    display: flex;
    background-repeat: no-repeat;
    width: 1445px;
    margin: auto;
    background-image: url("../../../assets/whatsappBg.svg");
    .inner-wrapper {
      max-width: 95%;
      margin: auto;
      display: flex;
      flex-direction: column;
      margin-top: 60px;
      gap: 34px;
      h2 {
        position: relative;
        width: fit-content;
        margin: 0;
        &::after {
          position: absolute;
          content: url("../../../assets/whatsappDesign.svg");
          top: -17px;
          right: -14px;
        }
      }
      .content {
        font-size: 18px;
        max-width: 511px;
      }
      button {
        max-height: 35px;
        font-weight: bold;
        width: fit-content;
        padding-inline: 16px;
      }
    }
  }
  .insta-section {
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url("../../../assets/instagramBg.svg");
    background-repeat: no-repeat;
    max-width: 1440px;
    margin: auto;
    height: 358px;
    transition: opacity 0.3s;
    button {
      height: 120px;
      width: 120px !important;
      min-width: unset;
      border-radius: 50%;
    }
  }
  .insta-section:has(button:hover) {
    opacity: 0.8;
  }

  .calendly-section {
    padding-block: 100px;
    margin-top: 100px;
    justify-content: center;
    display: flex;
    .widget-wrapper {
      width: 100%;
      max-width: 1200px;
      min-width: 1010px;
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 540px) {
  .know-more-container {
    .whatsapp-section {
      background-position-x: -500px;
      width: unset;
      .inner-wrapper {
        max-width: unset;
        h2 {
          font-size: 32px;
          &::after {
            content: "";
          }
        }
        .content {
          font-size: 16px;
        }
      }
    }
    .insta-section {
      background-position: bottom;
    }
    .calendly-section {
      display: block;
      margin-inline: 16px;
      padding-bottom: 0;
      .widget-wrapper {
        min-width: unset;
      }
    }
  }
}
