.know-more-container {
  .whatsapp-section {
    padding-top: 70px;
    min-height: 400px;
    justify-content: center;
    display: flex;
    button {
      max-height: 35px;
    }
  }
  .insta-section {
    padding-top: 70px;
    min-height: 400px;
    justify-content: center;
    display: flex;
    button {
      max-height: 35px;
    }
  }
  .calendly-section {
    padding-top: 70px;
    min-height: 680px;
    justify-content: center;
    display: flex;
  }
}
