.menu-container-desktop,
.menu-container-mobile {
  padding-top: 60px;
  text-align: right;
  z-index: 1000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: padding 0.3s ease-in-out;
  font-family: "Lora", serif;
  .common-container {
    display: flex;
    max-width: 95%;
    justify-content: space-between;
    margin: auto;
    button {
      background: none;
      border-color: white;
      color: white;
      margin-top: -6px;
    }
  }
  .logo {
    width: 161px;
    height: auto;
  }
  .mobile-wrapper-menu {
    position: fixed;
    right: 16px;
    .menu-button {
      background: none;
      border: none;
      cursor: pointer;
      min-width: unset !important;
      img {
        height: 24px;
      }
    }
  }
  .menu-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    .nav-links {
      display: flex;
      gap: 36px;
      margin: unset;
      .nav-link {
        font-weight: 400;
        font-size: 20px;
        list-style: none;
        cursor: pointer;
      }
      .link {
        color: #ffffff;
        text-decoration: none;
        width: 100%;
        display: flex;
      }
      .active {
        font-weight: 700;
      }
    }
    .external-links {
      display: flex;
      gap: 30px;
      margin-right: 23px;
      .link-img {
        height: 24px;
        width: auto;
      }
    }
  }
}

.menu-container-desktop.scrolled {
  padding-top: 24px;
  background: #060608;
  .menu-list {
    padding-bottom: 22px;
  }
}
.menu-container-desktop {
  .menu-list {
    .nav-links {
      .nav-link {
        .active {
          position: relative;
        }
      }
    }
  }
}

.menu-container-mobile {
  padding-top: 48px;
  min-height: 100px;
  .logo {
    max-height: unset;
    margin-left: 24px;
  }
  .common-container {
    flex-direction: column;
    .logoLink {
      max-height: 35px;
      position: absolute;
      top: 43px;
      left: 0px;
    }
  }
  .menu-list {
    flex-direction: column;
    margin-top: 45px;
    width: 100%;
    .nav-links {
      flex-direction: column;
      padding: unset;
      gap: unset;
      margin: 0px 24px 40px 0px;
      .nav-link {
        border-bottom: 1px solid #c4c4c4;
        width: 100%;
        display: flex;
        padding: 24px 0px;
      }
    }
  }
  .book-class-btn {
    margin-bottom: 40px;
  }
}
