.sneakpeek-container {
  max-width: 80%;
  margin: auto;
  padding-top: 20px;
  h2 {
    display: flex;
    justify-content: center;
    margin-block: 70px;
  }
  .video-wrapper {
    position: relative;
    .ratio {
      z-index: 1;
    }
    // &::before {
    //   position: absolute;
    //   content: url("../../../assets/sneakpeek-design-left.svg");
    //   left: -61px;
    //   top: -61px;
    // }
    // &::after {
    //   position: absolute;
    //   content: url("../../../assets/sneakpeek-design-right.svg");
    //   bottom: -70px;
    //   right: -61px;
    // }
  }
}

@media only screen and (max-width: 540px) {
  .sneakpeek-container {
    max-width: unset;
    h2 {
      margin-inline: 24px;
      text-align: center;
    }
    .video-wrapper {
      &::before,
      &::after {
        content: "";
      }
    }
  }
}
