.testimonials-container {
  min-height: 900px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  h2 {
    display: flex;
    justify-content: center;
    margin-block: 130px 90px;
    position: relative;
    width: fit-content;
    margin-inline: auto;
    &::before {
      position: absolute;
      content: url(../../../assets/testimonials-design.svg);
      left: -10px;
      bottom: 18px;
    }
  }
  .embla {
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 70%;
    margin-block: 0;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    background-color: #414141;
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    margin-right: 20px;
    margin-left: 10px;
    flex: 0 0 calc(100% / 2.5);
    position: relative;
    border-radius: 10px;
    margin-top: 40px;
    max-height: fit-content;
  }
  .embla__slide:nth-child(1) {
    margin-left: 0px;
  }
  .embla__slide__number {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    //height: var(--slide-height);
    user-select: none;
    flex-direction: column;
    gap: 45px;
    margin-block: 45px 24px;
    img {
      position: absolute;
      top: -33px;
      z-index: 1;
    }
    .content {
      width: 85%;
      text-align: center;
    }
    .user-info {
      text-align: center;
      .name {
        font-weight: bold;
      }
      .role {
        font-weight: 200;
      }
    }
  }
  .embla__slide:nth-child(1) {
    margin-left: 0px;
  }
  .embla__controls {
    display: flex;
    justify-content: end;
    margin-right: 2rem;
  }
  .embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
    align-items: center;
  }
  .embla__button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    z-index: 1;
    border-radius: 50%;
    color: var(--text-body);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px !important;
    background-color: #303032;
    min-width: 0;
  }
  .embla__button:disabled {
    color: var(--detail-high-contrast);
  }
  .embla__button__svg {
    width: 35%;
    height: 35%;
  }
  .embla__play {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    border-radius: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    color: var(--text-body);
    font-weight: 700;
    font-size: 1.4rem;
    padding: 0 2.4rem;
    min-width: 8.4rem;
  }
  .embla__progress {
    border-radius: 1.8rem;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    background-color: var(--background-site);
    position: relative;
    height: 0.6rem;
    justify-self: flex-end;
    align-self: center;
    width: 13rem;
    max-width: 95%;
    overflow: hidden;
  }
  .embla__progress__bar {
    background-color: var(--text-body);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: -100%;
  }
  .embla__controls {
    grid-template-columns: auto 1fr auto;
  }
  .embla__progress {
    justify-self: center;
    transition: opacity 0.3s ease-in-out;
    width: 8rem;
  }
  .embla__progress--hidden {
    opacity: 0;
  }
  .embla__progress__bar {
    animation-name: autoplay-progress;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }
  .embla__progress--hidden .embla__progress__bar {
    animation-play-state: paused;
  }
  @keyframes autoplay-progress {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(100%, 0, 0);
    }
  }
}

@media only screen and (min-width: 1800px) {
  .testimonials-container {
    max-width: 1400px;
    margin: auto;
    .embla {
      width: -webkit-fill-available;
      .embla__slide {
        flex: 0 0 calc(100% / 2);
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .testimonials-container {
    min-height: unset;
    .h2 {
      margin-block: 100px 50px;
    }
    .embla {
      width: 100%;
      .embla__buttons {
        gap: 0.8rem;
      }
      .embla__container {
        margin-inline: 10px;
        .embla__slide {
          flex: 0 0 100%;
        }
      }
    }
  }
}
