.routingContainer {
  color: #ffffff;
  background: #060608;
  font-family: "Lato", serif;
  button {
    background: #f3bb3e;
    border: #f3bb3e 1px solid;
    color: black;
    height: 40px;
    border-radius: 8px;
    min-width: 176px;
    font-family: "Lora", serif;
  }
  h2 {
    font-family: "Lora", serif;
  }
  .slide-up {
    transform: translateY(-2.3rem);
    opacity: 1;
    transition: opacity 1s ease-out, transform 0.45s ease-out;
  }

  .hidden {
    opacity: 0;
    transform: translateY(40px);
  }
}

@media only screen and (max-width: 540px) {
  .routingContainer {
    button {
      width: 100% !important;
      max-height: unset !important;
    }
  }
}
