@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

.routingContainer {
  color: #ffffff;
  background: #060608;
  font-family: "Lora", serif;
  button {
    background: #f3bb3e;
    border: #f3bb3e 1px solid;
    color: black;
    height: 40px;
    border-radius: 8px;
    min-width: 176px;
  }
}
