.routingContainer {
  color: #ffffff;
  background: #060608;
  font-family: "Lato", serif;
  button {
    background: #f3bb3e;
    border: #f3bb3e 1px solid;
    color: black;
    height: 40px;
    border-radius: 8px;
    min-width: 176px;
    font-family: "Lora", serif;
  }
  h2 {
    font-family: "Lora", serif;
  }
}
