.contact-page-container {
  display: flex;
  flex-direction: column;
  .content {
    margin-block: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-size: 64px;
      font-family: "Lora";
    }
    .desc {
      font-size: 18px;
      width: 600px;
      text-align: center;
      margin-top: 16px;
    }
  }
  .contact-section {
    display: flex;
    background-color: #3f3f3f;
    padding: 70px 110px;
    border-radius: 10px;
    margin-block: 80px 60px;
    gap: 34px;
    .address-wrapper,
    .contact-wrapper {
      display: flex;
      gap: 36px;
      img {
        width: 72px;
      }
    }
  }
  .divider {
    width: 1px;
    height: 48px;
    background-color: white;
    margin: 0 15px;
    align-self: center;
  }
  .form-button {
    font-weight: 700;
    margin-top: 36px;
  }
}

@media only screen and (max-width: 1024px) {
  .contact-page-container {
    .content {
      margin-block: 160px 100px;
      .title {
        font-size: 48px;
      }
      .desc {
        font-size: 16px;
        width: 85%;
      }
    }
    .contact-section {
      width: 95%;
      flex-direction: column;
      margin-block: 115px 85px;
      .address-wrapper,
      .contact-wrapper {
        flex-direction: column;
        align-items: center;
        .text-wrapper {
          text-align: center;
          display: flex;
          flex-direction: column;
          gap: 30px;
          .phone {
            margin-top: 16px;
          }
        }
      }
      .divider {
        height: 1px;
        width: 48px;
        margin: 20px 0;
      }
    }

    .form-button {
      width: 90% !important;
    }
  }
}
