.events-page-container {
  min-height: 10rem;
  max-width: 95%;
  margin: auto;
  padding-top: 200px;
  .title {
    font-size: 64px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
  .events-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
    .events-list-item {
      background-color: #3f3f3f;
      flex: 0 0 49%;
      display: flex;
      align-items: flex-start;
      padding: 22px 14px 22px 28px;
      border-radius: 10px;
      justify-content: space-between;
      gap: 8%;
      .left-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
      button {
        font-weight: 700;
        width: fit-content;
        margin-top: 8px;
      }
    }
  }
}
