.events-page-container {
  min-height: 10rem;
  max-width: 95%;
  margin: auto;
  padding-top: 200px;
  .title {
    font-size: 64px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    font-family: "Lora", serif;
  }
  .events-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
    .events-list-item {
      background-color: #3f3f3f;
      flex: 0 0 49%;
      display: flex;
      align-items: flex-start;
      padding: 22px 14px 22px 28px;
      border-radius: 10px;
      justify-content: space-between;
      gap: 8%;
      .left-container {
        display: flex;
        flex-direction: column;
        gap: 22px;

        .read-more-btn {
          background: none;
          border: none;
          color: #007bff;
          padding: 0;
          display: inline;
          min-width: unset;
          margin: 0;
          max-height: fit-content;
          max-width: max-content;
          margin-left: 4px;
          height: auto;
        }

        .read-more-btn:hover {
          text-decoration: underline;
        }
      }
      button {
        font-weight: 700;
        width: fit-content;
        margin-top: 8px;
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .events-page-container {
    padding-top: 150px;
    .title {
      font-size: 32px;
    }
    .events-list {
      flex-direction: column;
      .events-list-item {
        background-image: url("../../assets/calendar-icon.svg");
        background-repeat: no-repeat;
        background-position-x: right;
        background-blend-mode: exclusion;
        img {
          display: none;
        }
      }
    }
  }
}
