.contact-contanier {
  height: 400px;
  max-width: 95%;
  margin: auto;
  border-top: 1px solid #4f4f52;
  margin-top: 80px;
  .contact-desc {
    display: flex;
    .contact-text {
      font-size: 42px;
      max-width: 488px;
      font-family: "Lora", serif;
    }
    .back-link {
      position: absolute;
      right: 8%;
      display: block;
      padding: 16px 32px;
      border: 2px solid #dbe126;
      border-radius: 2px;
      color: #dbe126;
      text-decoration: none;
    }
  }
  .contact-info-wrapper {
    display: flex;
    gap: 120px;
    font-weight: 400;
    font-size: 18px;
    margin-top: 80px;
    .address-info {
      padding-top: 10px;
      .address-title {
        display: flex;
        font-size: 20px;
        font-family: "Lora", serif;
      }
      .address {
        margin-top: 10px;
        max-width: 200px;
        font-size: 16px;
      }
      button {
        height: 30px;
        width: 30px;
        min-width: unset;
        border-radius: 50%;
        display: flex;
        align-items: center;
        margin-top: 12px;
        img {
          width: 15px;
          height: 15px;
        }
      }
    }
    .contact-info {
      padding-top: 10px;
      .contact-title {
        display: flex;
        font-size: 20px;
        font-family: "Lora", serif;
      }
      .email-address,
      .phone-no {
        font-size: 16px;
      }
      .phone-no {
        margin-top: 10px;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .contact-contanier {
    max-width: 95%;
  }
}
