.contact-contanier {
  height: 250px;
  //max-width: 85%;
  margin: auto;
  .contact-desc {
    display: flex;
    margin: 30px 0;
    .contact-text {
      font-weight: 700;
      font-size: 24px;
      max-width: 488px;
    }
    .back-link {
      position: absolute;
      right: 8%;
      display: block;
      padding: 16px 32px;
      border: 2px solid #dbe126;
      border-radius: 2px;
      color: #dbe126;
      text-decoration: none;
    }
  }
  .contact-info-wrapper {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    margin-top: 50px;
    .address-info {
      //position: relative;
      // &::after {
      //   content: "";
      //   position: absolute;
      //   left: -35px;
      //   top: 13px;
      //   height: 23px;
      //   border-left: 1px solid white;
      // }
      .address-title {
        display: flex;
        img {
          width: 24px;
          margin-right: 15px;
        }
      }
      .address {
        margin-top: 10px;
        max-width: 257px;
      }
    }
    .contact-info {
      .contact-title {
        display: flex;
      }
      .email-address {
        margin-top: 10px;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .contact-contanier {
    //max-width: 85%;
  }
}
