.stacked-carousel {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 400px;

  .stacked-swiper {
    height: 100%;
  }

  .stacked-card {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    color: #333;
    height: 300px;
    user-select: none;
    opacity: 0.7;
  }

  .swiper-slide-active,
  .swiper-slide-prev,
  .swiper-slide-next {
    opacity: 1 !important;
    transform: scale(1.05);
    z-index: 2;
  }

  .btn-container {
    position: absolute;
    top: 85%;
    display: flex;
    width: 100%;
    justify-content: center;
    .nav-btn {
      transform: translateY(-50%);
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 1.2rem;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      transition: background 0.2s;
      z-index: 10;

      &:hover {
        background: white;
      }

      // &.left-btn {
      //   left: -50px;
      // }
      // &.right-btn {
      //   right: -50px;
      // }
    }
  }
}
