.stacked-carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 400px;

  .stacked-swiper {
    height: 100%;
  }

  .stacked-card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    user-select: none;
    opacity: 0.5;
  }
  .swiper-slide-active {
    height: 398px;
  }

  .swiper-slide-active,
  .swiper-slide-prev,
  .swiper-slide-next {
    opacity: 1 !important;
  }

  .swiper-slide {
    visibility: hidden;
  }
  .swiper-slide-visible {
    visibility: visible;
  }

  .btn-container {
    position: absolute;
    top: 107%;
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    align-items: center;
    width: 100%;
    .nav-btn {
      padding: 0;
      border: none;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      background-color: #303032;
      color: white;
      min-width: 0;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 35%;
        height: 35%;
      }

      // &:hover {
      //   background: white;
      // }

      // &.left-btn {
      //   left: -50px;
      // }
      // &.right-btn {
      //   right: -50px;
      // }
    }
  }
}
