.about-page-container {
  .section {
    h4 {
      font-size: 48px;
      font-family: "Lora", serif;
    }
    .content {
      max-width: 95%;
      margin: auto;
    }
    .inner-section-1 {
      background-image: url("../../assets/about-page-bg.svg");
      background-repeat: no-repeat;
      background-position-x: center;
      background-size: cover;
      height: 843px;
      .content {
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding-top: 244px;
        .heading {
          font-size: 64px;
          font-family: "Lora";
          max-width: 566px;
        }
        .details {
          font-size: 18px;
          max-width: 566px;
        }
      }
    }
    .inner-section-2 {
      background: linear-gradient(to bottom, #f3bb3e 50%, white 50%);
      .content {
        display: flex;
        color: black;
        font-size: 18px;
        gap: 95px;
        .right-text {
          padding-top: 77px;

          h4 {
            padding-block: 150px 20px;
          }
        }
        img {
          padding-block: 100px;
        }
      }
    }
    .inner-section-3 {
      background-color: white;
      .content {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 28px;
        color: black;
        font-size: 18px;
        img {
          border-radius: 10px;
        }
      }
    }
    .inner-section-4 {
      background-color: white;
      padding-block: 80px;
      .content {
        color: black;
        h4 {
          margin-bottom: 40px;
        }
        .img-wrapper {
          display: flex;
          justify-content: center;
          .image-2-wrapper {
            max-width: min-content;
          }
          .img-detail {
            position: absolute;
            bottom: 24px;
            left: 24px;
            font-size: 32px;
            font-weight: bold;
            color: white;
          }
          .text {
            font-size: 18px;
            max-width: 90%;
            margin-top: 24px;
          }
        }
      }
    }
    .inner-section-5 {
      padding-block: 80px;
      .content {
        h4 {
          margin-bottom: 24px;
        }
        .text {
          font-size: 18px;
          max-width: 600px;
        }
        .marquee {
          overflow: hidden;
          width: 100%;
          margin-top: 70px;
        }

        .marquee-track {
          display: flex;
          width: max-content;
          animation: scroll-left 40s linear infinite;
          .detail {
            position: absolute;
            bottom: 24px;
            left: 24px;
          }
        }

        .marquee-track img {
          margin-right: 24px;
          object-fit: cover;
        }

        @keyframes scroll-left {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-50%);
          }
        }
      }
    }
    .inner-section-6 {
      padding-block: 80px;
      .content {
        h4 {
          display: flex;
          justify-content: center;
        }
        .list {
          display: flex;
          flex-wrap: wrap;
          gap: 43px;
          padding-block: 84px 64px;
          justify-content: center;
          .list-item {
            display: flex;
            max-width: 31%;
            .text-wrapper {
              text-align: center;
              display: flex;
              flex-direction: column;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .about-page-container {
    .section {
      h4 {
        font-size: 24px;
      }
      .inner-section-1 {
        background-position-x: -31rem;
        height: 664px;
        .content {
          padding-top: 155px;
          .heading {
            font-size: 32px;
            max-width: 200px;
          }
          .details {
            font-size: 16px;
            max-width: 340px;
          }
        }
      }
      .inner-section-2 {
        background: linear-gradient(to bottom, #f3bb3e 67%, white 33%);
        .content {
          flex-direction: column;
          gap: 0;
          img {
            padding-block: 50px;
          }
          .right-text {
            padding-top: 0;
            font-size: 16px;
            padding-bottom: 50px;
            h4 {
              padding-block: 100px 20px;
            }
          }
        }
      }
      .inner-section-3 {
        .content {
          gap: 18px;
          img {
            height: 277px;
            object-fit: cover;
          }
          i {
            font-size: 14px;
          }
        }
      }
      .inner-section-4 {
        padding-block: 55px 85px;
        .content {
          .img-wrapper {
            gap: 36px;
            flex-direction: column;
            .img-detail {
              font-size: 18px;
            }
            .text {
              font-size: 16px;
            }
            .image-2-wrapper {
              max-width: unset;
            }
            img {
              max-width: 100%;
            }
          }
        }
      }
      .inner-section-5 {
        .content {
          .text {
            font-size: 16px;
          }
          .marquee {
            .marquee-track {
              .detail {
                font-size: 10px;
              }
            }
          }
        }
      }
      .inner-section-6 {
        padding-block: 0;
        .content {
          .list {
            gap: 66px;
            .list-item {
              max-width: unset;
            }
          }
        }
      }
    }
  }
}
